---
import { Icon } from "astro-icon";
import type { CommitteeItem } from "~/types";

export interface Props {
  items: Array<CommitteeItem>;
  title: string;
}

const { items, title } = Astro.props;
---

<div class="w-full max-w-6xl space-y-2">
  <div class="relative border border-default bg-offset px-6 pb-4 pt-8">
    <h3
      class="absolute right-4 top-0 -translate-y-1/2 rounded-full border border-current bg-default px-4 py-1 uppercase tracking-tight text-xs"
    >
      {title}
    </h3>
    <ul class="flex flex-wrap justify-center md:gap-2 align-middle">
      {
        items.map((item) => (
          <li class="my-4 flex md:w-1/5 w-1/2 flex-col items-center">
            <Icon class="h-12" name={item.icon} />
            <h2 class=" text-center font-bold text-primary">{item.name}</h2>

            <h2 class="text-center text-sm">
              {!!item.title ? item.title : "Events Team"}
            </h2>
          </li>
        ))
      }
    </ul>
  </div>
</div>
