---
import CommitteeList from "~/components/committee-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CommitteeItem } from "~/types";

const executive: Array<CommitteeItem> = [
  {
    title: "President",
    icon: "mdi:user-circle-outline",
    name: "Nicole Hanna",
  },
  {
    title: "Vice-President",
    icon: "frameworks/preact",
    name: "Matthew Close",
  },
  {
    title: "Secretary",
    icon: "frameworks/svelte",
    name: "Joe Murray",
  },
  {
    title: "Treasurer",
    icon: "frameworks/vue",
    name: "Janiru Foneska",
  },
  {
    title: "Head of Events",
    icon: "frameworks/solid",
    name: "Tim Chan",
  },
  {
    title: "Social Media Officer",
    icon: "frameworks/lit",
    name: "Gaby Whitelegg",
  },
];

const committee: Array<CommitteeItem> = [
  {
    title: "Head of f**kry",
    icon: "mdi:user-circle-outline",
    name: "James McFarland",
  },
  {
    title: "Graphics Design",
    icon: "frameworks/preact",
    name: "Paul Larkin",
  },
  {
    title: "Company Liason",
    icon: "frameworks/svelte",
    name: "Olivia Mallon",
  },
  {
    title: "Hot man",
    icon: "frameworks/vue",
    name: "Charles Baylon",
  },
  {
    name: "Joseph Mullan",
    icon: "frameworks/solid",
    title: "TAF Man",
  },
  {
    title: "Head of Revision",
    icon: "frameworks/lit",
    name: "Lauren Coyle",
  },
  {
    title: "Game Man",
    icon: "logomark",
    name: "Ryan Rogan",
  },
  {
    title: "Joe's mate",
    icon: "mdi:electron-framework",
    name: "Ben",
  },
];
---

<ContentSection title="The Committee" id="committee">
  <Fragment slot="lead">
    We run <span class="text-primary">a lot</span> of events, so we need a great
    team to make it all happen!
  </Fragment>
  <CommitteeList items={executive} title="executive committee" />
  <CommitteeList items={committee} title="events team" />
</ContentSection>
