---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Events" id="showcase">
  <Fragment slot="lead">
    Most of our events are <span class="text-primary">free</span> and <span class="text-primary">everyone is welcome</span> so come along!{" "}
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="relative border border-default bg-offset px-6 pt-8 pb-4">
      <script src="https://web-cdn.fixr.co/scripts/fixr-shop-widget.v1.min.js" data-fixr-shop-id="c93568e7-f9d8-4dd7-a5d6-ce41b834647e" data-fixr-theme="dark" ></script>
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="https://fixr.co/organiser/qcs">
        ...and more &rarr;
      </a>
    </p>
  </div>
</ContentSection>
